/*
Theme Name: REGIMENT HERO
Theme URI: https://plasterdog.com/the-plasterdog-customizer-theme/
Author: jeff mcnear
Author URI: https://plasterdog.com/
Description: Underscores as a jumping off point. Significant control of color scheme via the customizer - header text color - background color - regular link color - regular link hover color - navigation link color - navigation link hover color - social media link color - social media link hover color - headings (h1-h6) color - body text color - header area background color - footer area background color - footer text color - border color. Header logo is also set via the customizer, as well as a default background color.  All pages and individual posts can be set to have a full width hero image - page templates for full width, split page, archive page, and main landing page. Social media links and other contact information is set via => settings => global custom fields.This theme will work best using the classic editor and with advanced custom fields as an active plugin.
Tags: custom-colors, custom-menu, custom-logo, featured-images
License: GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/gpl.html
Text Domain: plasterdog-hero
Version: 1.0
*/
/*-- actually yellow */
/*#1349ad*/
/*---------- down and dirty reset ----*/
*, *:after, *:before {
  margin: 0px;
  padding: 0;
  box-sizing: inherit;
  /*--- inherited from body ---*/ }

html {
  font-size: 62.5%;
  /*--- defines rems on site ---*/ }

body {
  box-sizing: border-box;
  /*--- eliminates borders ---*/ }

body, button, input, select, textarea {
  color: #00121d;
  font-size: 1.5em;
  line-height: 1.5; }

/*--- ends reset--*/
/*-----------Forms----------------------*/
button, input, select, textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7,F3/4,S5,Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  *vertical-align: middle;
  /* Improves appearance and consistency in IE6/IE7 */ }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  border-radius: 3px;
  background: #008cc1;
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  font-size: 12px;
  font-size: 1.2em;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  margin-top: .5em; }

button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, input[type="button"]:active, input[type="reset"]:active,
input[type="submit"]:active {
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

input[type="checkbox"], input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */ }

input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5,Chrome */
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5,Chrome (include -moz to future-proof) */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-size: 1.5em; }

input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5,Chrome on OSX */
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0; }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea {
  border-radius: 3px; }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"] {
  padding: 3px; }

textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 98%; }

/*------Typography OVER RIDES---------------------------*/
body, button, input, select, textarea {
  font-family: "Libre Franklin", Arial, Tahoma, Verdana; }

h1, h2, h3, h4, h5, h6 {
  clear: both; }

h1 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1em; }

h2 {
  font-size: 1.4em;
  font-weight: 500;
  line-height: 1em; }

h3 {
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.15em; }

h4 {
  font-size: 1.15em;
  font-weight: 500;
  line-height: 1.25em; }

h5 {
  font-size: 1.1em;
  font-weight: 500; }

h6 {
  font-size: 1.05em;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: "Libre Franklin", Arial, Tahoma, Verdana; }

h1, h2 {
  margin-bottom: .5em; }

h3, h4, h5, h6 {
  margin-bottom: .25em; }

h1 {
  color: #008cc1; }

h2 {
  color: #008cc1; }

h3 {
  color: #008cc1; }

h4 {
  color: #008cc1; }

h5 {
  color: #008cc1; }

h6 {
  color: #008cc1; }

p {
  margin-bottom: 1em; }

blockquote {
  margin: 1em 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #ffffff;
  font-family: "Courier 10 Pitch", Courier, monospace; }

code, kbd, tt, var {
  font: 15px "Courier 10 Pitch", Courier, monospace; }

mark, ins {
  background: #ffffff; }

aside, blockquote {
  border: 1px solid #000000; }

/*-------Elements OVER RIDES--------------------*/
hr {
  background-color: #008cc1; }

.clear hr {
  background-color: #008cc1; }

ul, ol {
  margin: 1em 0 1em 2em; }

/*-- for sidebar--*/
#secondary h1.widget-title {
  background-color: transparent;
  border-bottom: solid 1px #322215;
  font-size: 1.4em;
  font-weight: bold;
  font-family: "Libre Franklin", Arial, Tahoma, Verdana; }

#secondary h1.entry-title {
  font-size: 1.25em;
  line-height: 1.15em;
  margin-bottom: .25em; }

/*--- for landing page & landing page sidebar---*/
.front-book-array a {
  text-decoration: none; }

.page-template-landing-page #secondary li {
  padding-bottom: 1em; }

.page-template-landing-page #secondary h2 {
  margin: 0 0 1em 0; }

.page-template-landing-page #secondary h2 a {
  color: #322215; }

.page-template-landing-page #secondary h3 {
  font-weight: normal; }

.page-template-landing-page #secondary .left_picture {
  float: left;
  width: 25%; }

.page-template-landing-page #secondary .right_text {
  float: right;
  width: 70%; }

.page-template-landing-page #secondary .left_text h3 {
  font-weight: normal;
  font-size: .5em; }

.page-template-landing-page #secondary li a:hover {
  color: inherit;
  width: 100%;
  display: block;
  background-color: inherit;
  margin-left: 0;
  padding-left: 0; }

.page-template-landing-page #secondary li a {
  font-weight: normal;
  text-decoration: none; }

.page-template-feed-page #secondary .left_picture {
  float: left;
  width: 25%; }

.page-template-feed-page #secondary .right_text {
  float: right;
  width: 70%; }

.page-template-feed-page #secondary .left_text h3 {
  font-weight: normal;
  font-size: .5em; }

.page-template-feed-page #secondary li a:hover {
  color: inherit;
  width: 100%;
  display: block;
  background-color: inherit;
  margin-left: 0;
  padding-left: 0; }

#secondary .testimonial-quote p {
  font-family: "Crimson Text", Georgia, Times, Times New Roman, serif;
  font-weight: 600;
  font-style: italic;
  font-size: 18px;
  margin-bottom: .75em; }

#secondary p.testimonial-name {
  font-family: "Crimson Text", Georgia, Times, Times New Roman, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  margin-bottom: 0;
  line-height: 1em; }

#secondary p.testimonial-firm {
  font-family: "Crimson Text", Georgia, Times, Times New Roman, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  margin-bottom: 1.5em; }

/*------------------- Menus-----------------------------*/
.main-navigation {
  clear: both;
  width: 100%;
  height: 2em; }

.main-navigation ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
  margin: 0; }

.main-navigation li {
  position: relative;
  margin-right: .05em;
  font-size: 1em;
  display: inline-block;
  padding: 0.5em;
  background: transparent;
  color: #008cc1;
  font-weight: bold;
  text-transform: uppercase; }

.main-navigation li:last-child {
  position: relative;
  margin-right: 0;
  font-size: 1em;
  margin-bottom: .25em;
  display: inline-block;
  padding: .5em; }

.main-navigation li:hover {
  background: transparent; }

.main-navigation li:hover a {
  color: #001f30;
  text-decoration: underline; }

.main-navigation a {
  display: block;
  text-decoration: none;
  font-weight: 500;
  color: #008cc1; }

.main-navigation a:hover {
  color: #001f30; }

.main-navigation li.current-menu-item a {
  background: transparent;
  font-weight: 700; }

.main-navigation .current-menu-item {
  color: #001f30;
  background: transparent; }

.main-navigation ul ul {
  margin-left: 0;
  display: block;
  float: left;
  position: absolute;
  top: 2em;
  left: 1em;
  z-index: 99999;
  text-align: left;
  visibility: collapse;
  opacity: .001;
  transition: all .5s ease-in-out 0s;
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000; }

.main-navigation ul ul li {
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #000000; }

.main-navigation ul ul li, .main-navigation ul ul li:last-child {
  font-size: .85em; }

.main-navigation ul ul li a:hover {
  text-decoration: underline; }

.main-navigation ul ul ul {
  left: 100%;
  top: 0; }

.main-navigation ul ul a {
  width: 250px;
  color: #000000; }

.main-navigation ul li:hover > ul {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: all 0.25s ease 0s;
  width: 250px;
  overflow: hidden; }

.main-navigation ul li:hover > ul li a {
  color: #000000;
  text-decoration: none; }

.main-navigation ul li:hover > ul li a:hover {
  text-decoration: underline; }

.site-main .comment-navigation, .site-main .paging-navigation, .site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }

.comment-navigation .nav-previous, .paging-navigation .nav-previous, .post-navigation .nav-previous {
  float: left;
  width: 50%; }

.comment-navigation .nav-next, .paging-navigation .nav-next, .post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

@media (max-width: 975px) {
  .main-navigation {
    margin-top: 0em; }

  .main-navigation li, .main-navigation li:last-child {
    font-size: .75em; } }
@media screen and (max-width: 725px) {
  .logged-in .main-navigation {
    top: 3em; }

  .main-navigation a {
    color: #000000 !important; }

  h1.menu-toggle {
    color: #ffffff;
    font-size: 1.25em;
    padding: 1em 0;
    line-height: 1.5em;
    top: -1em;
    font-weight: normal;
    font-family: "Libre Franklin", Arial, Tahoma, Verdana;
    position: relative;
    left: 0;
    z-index: 1; }

  h1.menu-toggle:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f055";
    padding-right: .5em; }

  .menu-toggle, .main-navigation.toggled .nav-menu {
    display: block; }

  .toggled h1.menu-toggle:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f056"; }

  .main-navigation {
    height: auto; }

  .main-navigation .current-menu-item {
    background: transparent; }

  .main-navigation li.current-menu-item a {
    background: transparent; }

  .main-navigation ul {
    display: none;
    margin-left: 1em;
    background: #ffffff;
    width: 90%;
    margin-top: 1em; }

  .main-navigation li, .main-navigation li:last-child {
    float: none;
    width: 100%;
    text-align: left;
    background: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 1.25em; }

  .main-navigation a {
    display: block;
    text-decoration: none;
    font-weight: normal;
    color: #008cc1;
    background: transparent; }

  .main-navigation ul li:hover > ul, .main-navigation li:hover > ul a {
    visibility: visible;
    color: #000000;
    width: auto; }

  .main-navigation li, .main-navigation li:last-child {
    float: none;
    width: 100%;
    text-align: left;
    background: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 1em; }

  .main-navigation li:hover, .main-navigation li:last-child:hover, .main-navigation ul ul li:hover > a, .main-navigation ul ul li:last-child:hover > a {
    background: transparent;
    color: #000000; }

  .main-navigation ul ul li:hover, .main-navigation ul ul li:last-child:hover, .main-navigation li:hover > a, .main-navigation li:last-child:hover > a {
    background: transparent;
    color: #000000; }

  .main-navigation li a:hover, .main-navigation li:last-child a:hover {
    text-decoration: underline; }

  .menu-main-menu-container {
    background: #ffffff;
    position: absolute;
    top: 2em;
    left: -.5em;
    width: 95%;
    -webkit-border-radius: 0 0 25px 25px;
    border-radius: 0 0 25px 25px; }

  .main-navigation ul ul {
    margin-left: 0;
    display: block;
    float: left;
    position: relative;
    top: 0;
    left: 1em;
    z-index: 99999;
    text-align: left;
    visibility: visible;
    opacity: 1;
    -webkit-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
    background: transparent;
    border: none;
    width: 80%; }

  .main-navigation ul ul li {
    background: transparent;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px; }

  .main-navigation ul ul li, .main-navigation ul ul li:last-child {
    font-size: 1em; }

  .menu-main-container {
    top: 1em;
    left: 0;
    position: absolute;
    width: 80%; }

  .menu-main-menu-container {
    padding-bottom: 1em; }

  .main-navigation ul ul a, .main-navigation ul ul a:hover {
    width: auto; } }
/*-----------Forms----------------------*/
button, input[type="button"], input[type="reset"], input[type="submit"] {
  border: 1px solid #ffffff;
  border-radius: 3px;
  background: #008cc1;
  color: #ffffff; }

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
  border-color: #cccccc #cccccc #cccccc #cccccc;
  background: #ffffff;
  color: #322215; }

button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, input[type="button"]:active, input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #cccccc #cccccc #cccccc #cccccc; }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea {
  color: #666;
  border: 1px solid #322215; }

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus {
  color: #111; }

/*-- footer region  --*/
#foot-constraint .left-side .widget {
  border: none;
  display: inline; }

#foot-constraint .right-side, #foot-constraint .left-side {
  padding-top: 1em; }

.icon-text {
  display: block;
  font-family: futura-pt, Arial, Tahoma, Verdana;
  font-size: 12px; }

#colophon.site-footer {
  background: #ffffff; }

.footer-menu {
  text-align: center; }

.footer-menu ul {
  list-style: none;
  margin: 0; }

.footer-menu li {
  display: inline-block;
  padding: 0 1.5em; }

.footer-menu li a {
  text-decoration: none !important; }

.footer-menu li a:hover {
  text-decoration: underline !important; }

.footer-section {
  float: left;
  width: 33%; }

.site-footer, .site-info {
  clear: both; }

.site-info {
  text-align: right; }

.site-info p {
  font-size: .75em;
  margin: 1em 2em; }

#foot-constraint {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 1em;
  padding: 0; }

#colophon.site-footer {
  border-top: none; }

#colophon.site-footer a {
  color: #000000;
  text-decoration: none; }

#colophon.site-footer a:hover {
  color: #000000;
  text-decoration: underline; }

#colophon.site-footer h4.widgettitle, #colophon.site-footer h1.widget-title, #colophon.site-footer h1 {
  color: #ffffff;
  font-weight: normal;
  font-size: 1.1em;
  margin-right: 1em; }

@media screen and (max-width: 725px) {
  #foot-constraint .left-side {
    text-align: left; }

  #foot-constraint .right-side {
    text-align: right; }

  #foot-constraint .left-side {
    float: left;
    width: 20%; }

  #foot-constraint .right-side {
    float: right;
    width: 78%; } }
/*--header region typography--*/
.site-branding h1.site-title {
  font-size: 1.5em;
  display: inline-block;
  /*text-transform:uppercase;*/
  font-family: "Libre Franklin", Arial, Tahoma, Verdana;
  margin: .25em 0 0 0;
  font-weight: normal; }

.site-branding h1.site-title a {
  text-decoration: none;
  font-weight: normal;
  color: #ffffff; }

.site-branding h2.mastehead-info {
  font-size: 1em;
  display: inline-block;
  font-style: italic;
  margin-left: .5em;
  font-family: "Libre Franklin", Arial, Tahoma, Verdana;
  color: #001f30; }

h2.masthead-info {
  color: #ffffff;
  margin-left: 0;
  font-family: "Libre Franklin", Arial, Tahoma, Verdana;
  font-size: .85em;
  margin-top: .5em;
  letter-spacing: .05em; }

/*--header region --*/
#full-top {
  width: 100%;
  position: static;
  z-index: 999;
  background-color: #ffffff; }

#upper-band {
  width: 100%;
  z-index: 1;
  height: 10rem;
  overflow-y: hidden; }

#upper-band img {
  width: 100%;
  min-height: 100%; }

.masthead-holder {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  top: 0;
  background: transparent;
  padding: 0em;
  /*height:200px;*/ }

#masthead {
  max-width: 1200px;
  background-color: transparent;
  padding-top: 0;
  /*top:2em;*/
  color: #000000;
  position: absolute;
  z-index: 999; }

#masthead .site-branding {
  margin: 0; }

.site-header {
  width: 100%;
  z-index: 999;
  color: #000; }

#left-head-1 {
  float: left;
  width: 360px; }

#right-head {
  float: right;
  width: calc(100% - 365px); }

#right-head .navigation-section {
  width: calc(100% - 125px);
  margin-top: 1.25em; }

#right-head .social {
  float: right;
  width: 125px;
  margin-top: -2.75em; }

#right-head .social .icon-text {
  font-size: 1.25em;
  margin-right: 1.5em;
  font-family: "Libre Franklin", Arial, Tahoma, Verdana;
  display: inline;
  line-height: 3em; }

ul.top-social-icons {
  padding: .75em 0 0 0;
  margin: 0;
  float: right; }

#right-head .top-social-icons li {
  list-style: none;
  float: left;
  margin-right: .25em;
  font-size: 2em; }

#right-head .social a {
  color: #ffffff; }

#right-head .social a:hover {
  color: #00649c;
  text-decoration: none; }

@media (max-width: 1100px) {
  #left-head-1 {
    float: left;
    width: 250px; }

  #right-head {
    float: right;
    width: calc(100% - 255px); }

  #upper-band {
    height: 7rem; }

  #right-head .navigation-section {
    margin-top: .5em; } }
@media (max-width: 975px) {
  #right-head .navigation-section {
    margin-top: 1em; } }
@media (max-width: 900px) {
  .masthead-holder {
    width: 100%;
    margin: 0;
    top: 0;
    padding: 0; }

  .site-branding h1.site-title, h2.masthead-info {
    display: inline; }

  h2.masthead-info {
    padding-left: 2em; } }
@media (max-width: 825px) {
  #left-head-1 {
    float: left;
    width: 125px; }

  #right-head {
    float: right;
    width: calc(100% - 130px); }

  #right-head .navigation-section {
    width: 75%;
    margin-top: 0; }

  .site-branding h1.site-title {
    font-size: 1.25em; }

  h2.masthead-info {
    font-size: 1em;
    padding-right: 2em; }

  #upper-band {
    height: 4rem; } }
@media screen and (max-width: 725px) {
  #full-top {
    top: 1.75em; }

  #left-head-1 {
    float: left;
    width: 25%;
    padding-top: 1em; }

  #right-head {
    width: calc(100% - 200px);
    padding-left: 0; }

  #right-head .social {
    margin-left: .5em; }

  #right-head .social .icon-text {
    display: block; }

  .site-branding h1.site-title {
    font-size: 1.25em;
    display: block;
    position: relative; }

  h2.masthead-info {
    font-size: 1em;
    padding: 0;
    margin: 0; }

  #right-head .social .icon-text {
    margin: 0;
    padding: 0; }

  ul.top-social-icons {
    float: left; }

  #full-top {
    width: 100%;
    position: relative;
    z-index: 999;
    /*background-color:$darkBrownColor; background-image:url(./images/mesaland.jpg);  background-repeat:no-repeat;  background-position:center top; */ }

  .main-navigation {
    clear: both;
    display: block;
    float: right;
    width: 100%;
    height: 2em;
    position: fixed;
    top: 0;
    left: 0;
    background: #000000; }

  #upper-band {
    height: 7rem; }

  #right-head .social {
    margin-top: 0;
    width: auto; }

  #right-head .social .icon-text {
    display: block;
    padding-bottom: .25em; } }
@media (max-width: 625px) {
  #left-head-1 {
    float: left;
    width: 150px; }

  #right-head {
    width: calc(100% - 160px); }

  #masthead {
    right: 0; } }
@media (max-width: 500px) {
  h2.masthead-info {
    margin-left: .5em;
    font-size: 1em;
    visibility: collapse;
    font-size: 0; } }
@media (max-width: 450px) {
  .site-branding h1.site-title {
    font-size: 1.5em;
    z-index: 0;
    padding-top: 0; } }
@media (max-width: 400px) {
  .masthead-holder {
    padding: 0 .5em; } }
@media (max-width: 350px) {
  .site-branding h1.site-title {
    font-size: 1.2em; } }
#header-bump {
  padding-top: 0em; }

#big-header-bump {
  padding-top: 0em; }

.error404 #big-header-bump {
  padding-top: 8em; }

#hero-top img {
  width: 100%; }

#hero-top {
  display: grid;
  z-index: 99; }

#hero-top h1 {
  visibility: collapse; }

@supports (display: grid) {
  #hero-top h1 {
    visibility: visible;
    z-index: 888;
    margin: -15% 0 0 0;
    color: #ffffff;
    padding: 0;
    line-height: .25em;
    height: 1.5em;
    font-size: 2.5em;
    line-height: 1.5em;
    font-weight: normal;
    justify-content: center;
    align-content: center;
    display: grid;
    text-shadow: 3px 3px 3px #000000; } }
@media screen and (max-width: 725px) {
  #hero-top, #header-bump, #big-header-bump {
    padding-top: 0; }

  #hero-top h1 {
    font-size: 1.5em;
    background: rgba(255, 255, 255, 0.6); } }
@media (max-width: 500px) {
  #hero-top h1 {
    visibility: collapse; } }
/*---------------- HOME PAGE THREE FOCUS ITEMS ---------------------------------------------*/
.clear.focus-group {
  padding-bottom: 1em;
  border-top: solid 1px #fadb27;
  border-bottom: solid 1px #fadb27; }

ul.three-focus-items {
  margin: 0;
  padding: 0;
  list-style: none; }

ul.three-focus-items > li {
  float: left;
  margin: 0 1em;
  width: calc(33% - 2em);
  text-align: center;
  font-size: 1.05em; }

ul.three-focus-items > li a:hover {
  text-decoration: none; }

.three-focus-items .focus-icon {
  padding: 0;
  width: 36%;
  margin: .5em 32% 0 32%; }

.three-focus-items .focus-icon img {
  width: 100%; }

.inner-focus-item h3 {
  background-color: transparent;
  border: none;
  margin: .5em 0;
  padding: .5em;
  color: #fadb27;
  font-size: 1em;
  margin: 0; }

.inner-focus-item h3:hover, .inner-focus-item a h3:hover {
  text-decoration: underline !important; }

.three-focus-items p {
  margin: .25em 0;
  line-height: 1.25em;
  color: black;
  font-weight: normal; }

.feature-icon {
  margin-top: 1em;
  display: block;
  width: 80%;
  margin: 1em 10%; }

.feature-icon img {
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: solid 1px #fadb27;
  width: calc(100% - .75em);
  height: auto; }

.feature-content {
  margin-top: .75em;
  display: block;
  width: 80%;
  margin: 1em 10%; }

.feature-content h3 {
  margin: 0;
  padding: 0 0 1em 0; }

.inner-focus-item {
  width: 85%;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 1em; }

@media screen and (max-width: 850px) {
  .feature-icon {
    margin-top: 1em;
    float: left;
    width: 48%;
    margin: 1em 0; }

  .feature-content {
    float: right;
    width: 48%;
    margin: 1em 0; }

  ul.three-focus-items > li {
    float: left;
    margin: 0 2em;
    width: calc(100% - 4em);
    text-align: center; }

  .three-focus-items .focus-icon {
    padding: 1.5em;
    width: 50%;
    margin: 0 25%;
    -webkit-border-radius: 50% 50% 505 50%;
    border-radius: 50% 50% 50% 50%;
    margin-top: 0em; }

  .feature-icon {
    margin-top: 1em;
    float: left;
    width: 48%;
    margin: 1em 0; }

  .feature-icon img {
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center; }

  .feature-content {
    margin-top: .75em;
    float: right;
    width: 48%;
    margin: 1em 0; } }
@media screen and (max-width: 600px) {
  ul.three-focus-items > li {
    float: left;
    margin: 0;
    width: 100%;
    text-align: center;
    padding-top: 1em; }

  .three-focus-items .focus-icon {
    padding: 1.25em;
    width: 50%;
    margin: 0 25%;
    -webkit-border-radius: 50% 50% 505 50%;
    border-radius: 50% 50% 50% 50%;
    margin-top: 0; } }
@media screen and (max-width: 400px) {
  .feature-icon {
    margin-top: 1em;
    display: block;
    width: 80%;
    margin: 1em 10%; }

  .feature-content {
    margin-top: .75em;
    display: block;
    width: 80%;
    margin: 0 10% 1em 10%; }

  .three-focus-items .focus-icon {
    padding: 1.25em;
    width: 80%;
    margin: 0 10%;
    -webkit-border-radius: 50% 50% 505 50%;
    border-radius: 50% 50% 50% 50%;
    margin-top: 0;
    background-color: transparent !important; }

  .feature-icon img {
    width: 100%; }

  .three-focus-items p {
    margin: .25em 0;
    line-height: 1.25em; } }
@media screen and (max-width: 300px) {
  .three-focus-items .focus-icon {
    padding: 1em;
    width: 80%;
    margin: 0 10%;
    -webkit-border-radius: 50% 50% 505 50%;
    border-radius: 50% 50% 50% 50%;
    margin-top: 0;
    background-color: transparent !important; }

  .three-focus-items p {
    margin: .25em;
    line-height: 1em; }

  .three-focus-items h3 {
    margin: 0; } }
ul.three-focus-items {
  padding-top: 3em; }

@supports (display: grid) {
  ul.three-focus-items {
    padding-top: 0;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    color: #444;
    margin: 2.5em auto;
    max-width: 1400px; }

  ul.three-focus-items > li {
    margin: 0 1em;
    width: auto;
    text-align: center;
    font-size: 1.05em;
    background-color: rgba(255, 255, 255, 0.85); }

  @media screen and (max-width: 850px) {
    ul.three-focus-items {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(1, 1fr);
      color: #444; } } }
ul.three-focus-items > li {
  background-color: rgba(255, 255, 255, 0.85); }

.page-template-page-home #page {
  padding: 0;
  -webkit-border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 25px;
  max-width: 1375px; }

.page-template-page-home #main {
  padding: 1em 2em; }

.page-template-page-home #content {
  background: transparent; }

/*--- START PDOG CUSTOMIZATION --*/
.entry-content ul.no-dot {
  list-style: none; }

ul.resource-array-3 {
  text-align: center;
  list-style: none;
  clear: both;
  margin-left: 12.5%; }

ul.resource-array-4 {
  text-align: center;
  list-style: none;
  clear: both;
  clear: both;
  padding-top: 5em; }

.resource-array-3 li, .resource-array-4 li {
  float: left;
  width: 25%; }

@media (max-width: 500px) {
  .resource-array-3 li, .resource-array-4 li {
    float: left;
    width: 50%;
    margin: 0 25%;
    padding-bottom: 2em; }

  ul.resource-array-3 {
    margin-left: 0; }

  ul.resource-array-4 {
    padding-top: 0; } }
/*--- future reference ---*/
.sticky {
  color: inherit; }

.gallery-caption {
  color: inherit; }

.bypostauthor {
  color: inherit; }

.wph-modal .wph-modal--hide a, .wph-modal footer a {
  color: #322215 !important;
  font: 400 12px/20px "Libre Franklin", Arial, Tahoma, Verdana;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease; }

.wph-modal .wph-modal--close a {
  border: 0;
  box-shadow: none;
  color: #322215 !important;
  font-size: 13px;
  text-decoration: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease; }

#mc_embed_signup .button {
  clear: both;
  background-color: #322215 !important;
  border: 0 none;
  border-radius: 4px;
  letter-spacing: .03em;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  height: 32px;
  line-height: 32px;
  margin: 0 5px 10px 0;
  padding: 0 1em;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto;
  transition: all 0.23s ease-in-out 0s;
  margin-top: 1em; }

/*--------------------MAIN CONTENT AREA -----------*/
/*---------------Links-----------------------------*/
a {
  color: #00649c;
  text-decoration: none; }

a:visited {
  color: #00649c; }

a:hover, a:focus, a:active {
  color: #001f30; }

/*--- the page image background --*/
.big-background {
  padding-top: 9em; }

/*--- FEATURED IMAGE CONTROLS ---*/
img.attachment-thumbnail {
  float: left;
  margin-right: .5em; }

/*---CATEGORY TITLE ---*/
#secondary h1.page-title {
  float: right; }

h1.page-title, h1.entry-title, h1.answer-heading {
  color: #322215;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: normal;
  /* padding-left:1.25em; background-image:url(./images/logo-accent.png);  background-repeat:no-repeat*/ }

h1.responsive-page-title {
  visibility: collapse;
  height: 0; }

h1.page-title a, h1.entry-title a {
  color: #322215;
  text-decoration: none; }

/*---------- CUSTOMIZATIONS---------------*/
.clear {
  clear: both; }

/*-- for post navigation--*/
.left-split-nav {
  float: left;
  width: 48%;
  text-align: left; }

.right-split-nav {
  float: right;
  width: 48%;
  text-align: right; }

/*-- for sidebar--*/
#secondary {
  width: 250px; }

#secondary.widget-area {
  padding: 1em;
  position: relative;
  z-index: 9999; }

#secondary .widget-area img {
  width: 80%;
  height: auto;
  margin-top: 2em; }

#secondary li {
  list-style: none;
  display: block;
  margin-left: .5em; }

#secondary li a {
  text-decoration: none; }

#secondary li.current-menu-item a {
  color: #00649c;
  width: 100%;
  display: block;
  background-color: #ffffff;
  margin-left: -.25em;
  padding-left: .25em;
  /*color:$lightBlueColor;*/ }

#secondary li a:hover {
  width: 100%;
  display: block;
  background-color: #ffffff;
  margin-left: -.25em;
  padding-left: .25em;
  text-decoration: underline; }

#secondary ul {
  margin-left: 0em; }

#secondary .widget_search {
  font-size: .85em; }

/*----- Content Area ---------------------*/
#page {
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  margin-top: 0;
  margin-bottom: 0;
  clear: both; }

.right-overlay {
  float: right;
  width: 260px;
  opacity: 0.5;
  background-color: #008cc1;
  z-index: 999;
  height: 100%;
  position: absolute;
  right: 0; }

.page-template-feed-page #page {
  /*margin-top:1.5em;*/ }

#main {
  padding-left: 0em; }

.page-template-feed-page #secondary h2 a {
  color: #322215; }

.page-template-feed-page #secondary h2 {
  margin: 0 0 1em 0; }

/*--- splitting styles ----*/
#page .left-side, #secondary .left-side, #foot-constraint .left-side {
  float: left;
  width: 48%;
  padding-left: 1%; }

#page .right-side, #secondary .right-side, #foot-constraint .right-side {
  float: right;
  width: 48%; }

#foot-constraint .right-side {
  text-align: right; }

#main .left_picture, #secondary .left_picture {
  float: left;
  width: 30%; }

#main .left_picture img, #main .right_picture img, #secondary .left_picture img, #secondary right_picture img {
  width: 90%;
  margin-right: 10%;
  height: auto; }

#main .right_text, #secondary .right_text {
  float: right;
  width: 65%; }

#main .left_text, #secondary .left_text {
  float: left;
  width: 65%; }

#main .right_picture, #secondary .right_picture {
  float: right;
  width: 30%; }

#main .archive_left_picture, #secondary .archive_left_picture {
  float: left;
  width: 20%; }

#main .archive_left_picture img, #secondary .archive_left_picture img {
  width: 100%;
  height: auto;
  margin: 0; }

#main .archive_right_text, #secondary .archive_right_text {
  float: right;
  width: 78%; }

/*-- DEFINES CONTENT AREA --*/
.entry-content .left-side, .entry-content .right-side {
  background-color: transparent;
  border-radius: 25px;
  margin-bottom: 1em;
  padding: 1em; }

.question-site-main {
  float: right;
  width: 65%; }

.content-area {
  float: left;
  width: calc(100% - 275px);
  padding: 1em;
  /*min-height:85vh;*/
  border-radius: 10px;
  margin-bottom: 1em; }

.site-main {
  margin: 0 0; }

.site-content .widget-area {
  float: right;
  overflow: hidden;
  width: 250px; }

/*-- FULL WIDTH PAGES --*/
.page-template-page-home .full-content-area {
  border: none 0px transparent;
  background-color: transparent; }

.full-content-area {
  float: left;
  margin: 0 0 0 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  margin-bottom: 1em;
  padding: 1em 3em;
  min-height: 50vh; }

.page-template-page-home .full-content-area {
  float: left;
  margin: 1em 0 0 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 1em 3em;
  min-height: 25vh; }

.full-site-main {
  margin: 0; }

/* ---  RESPONSIVE --- Small menu */
.menu-toggle {
  cursor: pointer;
  display: none; }

/*--- more over rides--*/
p.archive-link {
  text-align: right; }

ul.just-archive-array {
  list-style: none;
  margin: 0; }

.just-archive-array p {
  margin: 0 0 1em 0; }

.just-archive-array h1 {
  margin: 0; }

.page-template-page-books a {
  text-decoration: none; }

@media (max-width: 1300px) {
  body {
    overflow-x: hidden; } }
@media (max-width: 1200px) {
  #foot-constraint {
    width: 90%;
    margin: 0 5%; }

  html {
    /*overflow-x: hidden;*/ } }
@media (max-width: 900px) {
  .page-template-landing-page .content-area {
    float: left;
    margin: 1em;
    width: 100%; }

  .page-template-landing-page .site-main {
    margin: 1em; }

  .page-template-landing-page #secondary {
    width: 100%; }

  .page-template-landing-page .entry-content {
    border-right: none 0px transparent;
    padding-right: 0; }

  .page-template-feed-page .site-main {
    margin: 0; }

  .page-template-feed-page #secondary {
    width: 100%; }

  .page-template-feed-page h1.page-title {
    visibility: collapse;
    height: 0; }

  .page-template-feed-page h1.responsive-page-title {
    color: #322215;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: normal;
    visibility: visible;
    height: auto;
    background-repeat: no-repeat;
    border-bottom: 1px solid #000000; } }
@media (max-width: 825px) {
  .question-site-main {
    float: left;
    width: 100%; }

  .landing-third-1, .landing-third-2, .landing-third-3 {
    float: left;
    width: 100%;
    margin: 2em 0 0 0; }

  .landing-third-3 .widget {
    margin: 0; }

  #page .left-side, #page .right-side {
    float: left;
    width: 100%; }

  #page .left-side {
    margin-bottom: 2em; }

  .footer-section {
    float: left;
    width: 100%;
    text-align: center; }

  .content-area {
    float: left;
    margin: 0;
    width: 100%; }

  .site-main {
    margin: 0; }

  #secondary {
    width: 100%;
    max-width: 820px;
    background-color: rgba(255, 255, 255, 0.8); }

  .right-overlay {
    background-color: transparent !important; }

  #secondary.widget-area {
    float: left;
    margin: 0;
    width: 100%;
    margin-left: 0; }

  .entry-content {
    border-right: none;
    padding-right: 0; }

  .content-area {
    min-height: 0; }

  h1.page-title {
    visibility: collapse;
    height: 0; }

  h1.responsive-page-title {
    color: #008cc1;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: normal;
    visibility: visible;
    height: auto;
    background-repeat: no-repeat;
    border-bottom: 1px solid #000000; }

  .single-question h1.page-title, .single-question h1.entry-title {
    color: #322215;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: normal;
    visibility: visible;
    height: auto; }

  .content-area, #secondary {
    border-radius: 0; } }
@media screen and (max-width: 725px) {
  #page {
    padding-top: 1.5em; }

  #page .left-side, #secondary .left-side {
    float: left;
    width: 100%; }

  .footer-menu {
    padding-bottom: 2em; }

  .menu-toggle, .main-navigation.toggled .nav-menu {
    display: block;
    z-index: 999; }

  .main-navigation {
    width: 100%; }

  .entry-content img {
    width: 60%;
    margin: 0 20%; }

  .content-area {
    float: left;
    margin: 0;
    width: 100%; }

  .site-main {
    margin: 0; }

  #secondary {
    width: 80%;
    max-width: 650px;
    background-color: rgba(255, 255, 255, 0.8); }

  #secondary.widget-area {
    float: left;
    margin: 0;
    width: 100%;
    margin-left: 0; }

  /*--- splitting styles ----*/
  #main .left_picture, #main .right_text, #main .left_text, #main .right_picture {
    float: left;
    width: 100%; }

  #main .left_picture img, #main .right_picture img {
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    height: auto; }

  .big-background {
    padding-top: 0;
    margin-top: -1em;
    margin-bottom: -1em; }

  .full-content-area {
    padding: 1em; } }
@media (max-width: 625px) {
  #page .right-side, #secondary .right-side {
    float: right;
    width: 100%; }

  #main .left_picture, #secondary .left_picture {
    float: left;
    width: 100%; }

  #main .left_picture img, #main .right_picture img, #secondary .left_picture img, #secondary right_picture img {
    width: 70%;
    margin: 0 15%;
    height: auto; }

  #main .right_text, #secondary .right_text {
    float: right;
    width: 100%; }

  #main .left_text, #secondary .left_text {
    float: left;
    width: 100%; }

  #main .right_picture, #secondary .right_picture {
    float: right;
    width: 100%; }

  #main .archive_left_picture, #secondary .archive_left_picture {
    float: left;
    width: 100%; }

  #main .archive_left_picture img, #secondary .archive_left_picture img {
    width: 70%;
    height: auto;
    margin: 0 15%; }

  #main .archive_right_text, #secondary .archive_right_text {
    float: right;
    width: 100%; } }
@media (max-width: 500px) {
  .page-template-landing-page #secondary .left_picture {
    float: left;
    width: 100%; }

  .page-template-landing-page #secondary .right_text {
    float: left;
    width: 100%; } }
@media (max-width: 450px) {
  .site-info {
    border-top: none transparent;
    text-align: center; } }
@media (max-width: 400px) {
  h1.menu-toggle {
    background-position: 0 1.15em; }

  .menu-main-container {
    top: 3.25em; } }

/*# sourceMappingURL=style.css.map */
