
#home-hero-top { display: grid;z-index: 99;grid-template-columns:repeat(6, 1fr);}
.cta-section{text-align:center;}
.cta-section h3{color:$darkGreyColor; font-size: 2em;}
.cta-section h4{color:$darkGreyColor; font-size:1.25em; font-weight: 400;font-style: italic;}

h5.top-cta-button{margin-top:1.5em;}
h5.top-cta-button a {color:$whiteColor;background:$blueButtonColor;padding:.5em 1em;margin:.75em .25em;
-webkit-border-radius: 5px 5px 5px 5px;border-radius: 5px 5px 5px 5px;text-transform: uppercase; }
h5.top-cta-button a:hover {color:$whiteColor;background:$blueButtonColor; padding:.75em 1.25em; margin:.75em 0;
	transition:all .25s ease-in-out 0s;}
h5.cta-button {color:$whiteColor;background:$blueButtonColor;width: auto;display:inline-block; padding:.5em 1em; margin:1em 0;
-webkit-border-radius: 5px 5px 5px 5px;border-radius: 5px 5px 5px 5px; 
}
h5.cta-button a{color:$whiteColor;}
h5.cta-button:hover {color:$whiteColor;background:$blueButtonColor;width: auto;display:inline-block; padding:.75em 1.25em; margin:.75em 0;
	transition:all .25s ease-in-out 0s;}

#home-hero-top img{width: 100%;display: grid; grid-column: 1 / 7;grid-row-start: 1; align-content: start;} 

.home-hero-content{display: grid; grid-column: 4 / 7;grid-row-start: 1; align-content: start;margin:10% 2em 0 6em;}
.home-hero-content h1{color:$darkGreyColor; font-size:3em;font-family:$oswaldFont;margin:0;font-weight: 600;}
.home-hero-content h2{color:$darkGreyColor; font-size:2.5em;font-family:$oswaldFont;line-height: 1.1em; font-weight: 600;}
.home-hero-content p{color:$darkGreyColor; font-size:1.75em;font-family:$oswaldFont;margin-right:2em;font-weight: 400;margin-bottom:0;line-height:1.1em;}

@media (max-width:1500px){ 
	.home-hero-content{display: grid; grid-column: 4 / 7;grid-row-start: 1; align-content: start;margin:5% 2em 0 4em;}
	.home-hero-content h1{font-size:2.5em;}
	.home-hero-content h2{font-size:2em;}
	.home-hero-content p{font-size:1.5em;}
}

@media (max-width:1200px){ 
	.home-hero-content h1{font-size:2.25em;}
	.home-hero-content h2{font-size:1.75em;}
	.home-hero-content p{font-size:1.25em;}
}
@media (max-width:1000px){ 
	.home-hero-content h1{font-size:2em;}
	.home-hero-content h2{font-size:1.5em;}
	.home-hero-content p{font-size:1em;}	


	}

@media (max-width:800px){ 
.home-hero-content{margin:10% 2em 0 4em;}
	.home-hero-content h1{font-size:1.75em;}
	.home-hero-content h2{font-size:1.25em;}
	.home-hero-content p{font-size:.8em;}
	}	

@media (max-width:600px){ 
.home-hero-content{display: grid; grid-column: 1 / 7;grid-row-start: 1; align-content: start;margin:5% 1em;background-color:rgba($whiteColor, .5);
	padding:1em;-webkit-border-radius: 20px 20px 20px 20px;border-radius: 20px 20px 20px 20px;text-align: center;}
.home-hero-content h1{color:$darkGreyColor; font-size:2em;font-family:$oswaldFont;margin:0;font-weight: 600;}
.home-hero-content h2{color:$darkGreyColor; font-size:1.5em;font-family:$oswaldFont;line-height: 1.1em; font-weight: 600;}
.home-hero-content p{color:$darkGreyColor; font-size:1em;font-family:$oswaldFont;margin-right:1em;}
	}	

@media (max-width:400px){ 

.home-hero-content h1{color:$darkGreyColor; font-size:1.2em;font-family:$oswaldFont;margin:0;font-weight: 600;line-height: 1.05em;}
.home-hero-content h2{color:$darkGreyColor; font-size:1em;font-family:$oswaldFont;line-height: 1.05em; font-weight: 600;}
.home-hero-content p{color:$blackColor; font-size:.85em;font-family:$defaultFont;margin-right:1em;}
h5.top-cta-button{margin-top:.5em;font-size: 1em;}
	}	

@media (max-width:325px){ 

.home-hero-content p{visibility: collapse;font-size: 0; color:transparent;}

	}
