/*-- footer region  --*/
#foot-constraint .left-side .widget {border: none;display: inline;}
#foot-constraint .right-side, #foot-constraint .left-side{padding-top:1em;}
.icon-text{display:block;font-family: $futuraFont;font-size:12px;}
#colophon.site-footer {background:$whiteColor ;}
.footer-menu{text-align: center;}
.footer-menu ul{list-style: none;margin:0;}
.footer-menu li{display:inline-block;  padding:0 1.5em;}
.footer-menu li a{text-decoration:none!important;}
.footer-menu li a:hover{text-decoration:underline!important;}
.footer-section{float:left;width:33%}
.site-footer, .site-info{clear:both}
.site-info{ text-align:right}
.site-info p{font-size:.75em;margin:1em 2em}
#foot-constraint{width:100%;max-width:1200px;margin-left:auto;margin-right:auto;margin-top:0;margin-bottom:1em; padding:0;}
#colophon.site-footer{border-top:none; }
#colophon.site-footer a{color:$blackColor;text-decoration:none}
#colophon.site-footer a:hover{color:$blackColor;text-decoration:underline}
#colophon.site-footer h4.widgettitle, #colophon.site-footer h1.widget-title, #colophon.site-footer h1{color:$whiteColor;font-weight:normal;font-size:1.1em;margin-right:1em}

/*--- SOCIAL ICONS ---*/
ul.foot-social-icons{list-style: none; float:right;margin:0;}
ul.foot-social-icons li{float: left; padding:0 .5em;margin-bottom:0;}
/*--- RESPONSIVE ---*/
@media screen and (max-width:725px){ 
#foot-constraint .left-side{text-align:left;}
#foot-constraint .right-side{text-align:right;}
#foot-constraint .left-side{float:left;width:20%}
#foot-constraint .right-side{float:right;width:78%}
}

@media screen and (max-width:600px){ 
#foot-constraint .left-side{float:left;width:98%!important; padding-left:1%;}
#foot-constraint .right-side{float:right;width:98%!important;padding-right:1%;}
	}