/*------Typography OVER RIDES---------------------------*/
body, button, input, select, textarea{font-family:$defaultFont;color:$titleGreyColor;}

h1, h2, h3, h4, h5, h6{clear:both; }
h1{font-size:1.5em;  font-weight:700;line-height:1em;}
h2{font-size:1.4em;font-weight:600;line-height:1em;}
h3{font-size:1.3em;font-weight:600;line-height:1.15em}
h4{font-size:1.25em;font-weight:600;line-height:1.25em}
h5{font-size:1.2em;font-weight:600;}
h6{font-size:1.15em; font-weight:500;}


h1, h2, h3, h4, h5, h6{clear:both; font-family:$titleFont;}
h1{margin-bottom:.5em;}
h2, h3, h4, h5, h6{margin:.25em 0;}
h1{color:$darkGreyColor;}
h2{color:$darkGreyColor;}
h3{color:$darkGreyColor;}
h4{color:$darkGreyColor;}
h5{color:$darkGreyColor;}
h6{color:$darkGreyColor;}
p{margin-bottom:1em;font-size:1.1em;}
li{margin-bottom:0;font-size:1.1em;}
b, strong{}
dfn, cite, em, i{}
blockquote{margin:1em 1.5em; }
address{margin:0 0 1.5em}
pre{background:$whiteColor;font-family:$nerdFont;}
code, kbd, tt, var{font:15px $nerdFont}
abbr, acronym{}
mark, ins{background:$whiteColor;}
sup, sub{}
sup{}
sub{}
small{}
big{}
aside, blockquote {border: 1px solid $blackColor;}

#secondary aside{}
/*-------Elements OVER RIDES--------------------*/
hr{background-color:$redColor;;}
.clear hr{background-color:$redColor;;}
ul, ol{margin:1em 0 1em 2em;}
ul{}
ol{}
li >ul, li >ol{}
dt{ }
dd{}
img{}
figure{}
table{}
/*-- for sidebar--*/
#secondary h1.widget-title{background-color:transparent;border-bottom:solid 1px $darkBrownColor;font-size:1.4em;font-weight:bold;font-family:$defaultFont}
#secondary h1.entry-title {font-size: 1.25em;line-height: 1.15em;margin-bottom: .25em;}

/*--- for landing page & landing page sidebar---*/
.front-book-array a{text-decoration:none}
.page-template-landing-page #secondary li{padding-bottom:1em}
.page-template-landing-page #secondary h2{margin:0 0 1em 0;}
.page-template-landing-page #secondary h2 a{color:$darkBrownColor}
.page-template-landing-page #secondary h3{font-weight:normal}
.page-template-landing-page #secondary .left_picture{float:left;width:25%}
.page-template-landing-page #secondary .right_text{float:right;width:70%}
.page-template-landing-page #secondary .left_text h3{font-weight:normal;font-size:.5em}
.page-template-landing-page #secondary li a:hover{color:inherit;width:100%;display:block;background-color:inherit;margin-left:0;padding-left:0}
.page-template-landing-page #secondary li a{font-weight:normal;text-decoration:none}
.page-template-feed-page #secondary .left_picture{float:left;width:25%}
.page-template-feed-page #secondary .right_text{float:right;width:70%}
.page-template-feed-page #secondary .left_text h3{font-weight:normal;font-size:.5em}
.page-template-feed-page #secondary li a:hover{color:inherit;width:100%;display:block;background-color:inherit;margin-left:0;padding-left:0}

#secondary .testimonial-quote p{font-family:$serifFont; font-weight:600; font-style:italic; font-size:18px;margin-bottom:.75em;}
#secondary p.testimonial-name{font-family:$serifFont; font-weight:600; font-style:normal; font-size:14px; margin-bottom:0;line-height: 1em;}
#secondary p.testimonial-firm{font-family:$serifFont; font-weight:400; font-style:normal; font-size:14px;margin-bottom:1.5em;}